
img {
    width: 500px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover;
}
.top-menu {
    display: flex;
    padding: 2px;
    border: 0px solid;
    margin: 10;
    justify-content: center;

}