body {
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    padding: 1px;

}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    /* border: 2px solid red; */
}

.top-menu {
    display: flex;
    padding: 2px;
    border: 0px solid;
    margin: 10;
    justify-content: center;

}

.button-top-menu {
    padding: 5px;
    margin: 2px;
    background-color: whitesmoke;
    border: 1px;

}
