body {
    background-color: white;
}

img {
    width: 100%;
    height: auto;
    padding: 1px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}