body {
    background-color: white;
    display: block;

}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;

}

.main-pic {
    max-width: 600px;
    margin: auto;
    height: auto;
}

.main-pic img {
    width: 99%;
    padding: 1px;
    border-radius: 9px;

}


.top-menu {
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    /* border: 1px solid black;
    border-radius: 0.9em; */
    margin: 1px;
    justify-content: right;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.top-menu img:hover {
    transform: scale(1.2);
}

h1 {
    text-align: center;

}

.top-menu a {
    color: black;
    text-decoration: none;

}

.icon {
    border: none;
}

.top-menu a:hover {
    font-weight: bold;

}


.button-top-menu {
    padding: 4px;
    margin: 2px;
    /* border: 1px solid red; */
    flex-direction: row;
}

.left-menu {
    flex: 1
}

.container {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    background-color: beige;
    border-radius: 0.7rem;
    flex: 1 0 180px;
    margin: 0.4em;
    padding: 0.7em;

}

/* @media (min-width: 40rem) {
    .card {
        flex: 0 1 240px;
    }
} */

.container img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    /* border: 1px solid red; */
}

.container img:hover {
    opacity: 0.6;

}

.container a {
    text-decoration: none;
    color: black;

}

.container a:hover {
    opacity: 0.6;

}

.footer p {
    text-align: center;
    padding-top: 70%;
    /* background-color: whitesmoke; */

}